<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AppearanceSourceQuote" type="Magento\PageBuilder\Model\Source\VisualSelect">
        <arguments>
            <argument name="optionsSize" xsi:type="string">large</argument>
            <argument name="optionsData" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="value" xsi:type="string">default</item>
                    <item name="title" xsi:type="string">Simple Quote</item>
                    <item name="icon" xsi:type="string">Vendor_PageBuilderQuote/css/images/content-type/vendor-quote/appearance/simple-quote.svg</item>
                </item>
                <item name="picture-quote" xsi:type="array">
                    <item name="value" xsi:type="string">picture-quote</item>
                    <item name="title" xsi:type="string">Picture Quote</item>
                    <item name="icon" xsi:type="string">Vendor_PageBuilderQuote/css/images/content-type/vendor-quote/appearance/picture-quote.svg</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
